.display {
    display: inline;
}
.bg-image-home {
background-position: 0% 10%;
background-size: cover;
background-repeat: no-repeat;
}

.header a, a:hover{
	color: #fff;
	text-decoration: none;
    background-color: #0f0f0f;
}

.header h1 {
	font-size: 300%;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top: 0;
}
@font-face {
    font-family: 'Hopscotch';
  src: url('/accets/fonts/Hopscotch W00 Plain.ttf') format('ttf'), url('/accets/fonts/Hopscotch W00 Plain.woff') format('woff'), url('/accets/fonts/Hopscotch W00 Plain.woff2') format('woff2'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
.header p {
	color: white !important;
	font-size: 90%;
	letter-spacing: 3px;
    font-family: 'Schoolbell', cursive;
    font-size:150%;font-style:normal;
    text-align: center;
    line-height: 15px;
}
.logo {
    margin-left: 150px;
    float: left;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #0f0f0f;
    border-bottom: 3px solid white;
    border-radius: 0px;
    text-align: center;
}
.navbar-right {
    text-align: center;
}
.nav-pills>li>a {
	color: #fff; 
    font-family: 'Schoolbell', cursive;
    font-size:200%;font-style:normal;
}
.nav-pills>li>a:hover {
	background-color: #0f0f0f;
	transition: .1s;
    border-bottom: 3px solid white;
    border-radius: 0px;
}
.navbar-inverse {
    padding: 1%;
    border-radius: 0px;
    background-color: transparent;
    border-color: transparent;
}

@media (max-width: 768px) {
	.nav-pills>li {
		float: none;
	}
	.nav-pills {
		text-align: center;
	}
	.nav-pills>li>a:hover {
		transition: .1s;
	}
	.m-text h1 {
		font-size: 200% !important;
	}
	.header {
		text-align: center;
        }
   .bg-image-home {        
background: url('11.png') !important;  
        height: 77vh !important;
        background-position: 0% 10%;
background-size: cover;
background-repeat: no-repeat !important;
        
    } 
    .form-control {
        font-size: 280%;
    }
    .get1 p {
    color: white !important;
	letter-spacing: 3px;
    font-family: 'Schoolbell', cursive;
    font-size:100% !important;font-style:normal;
    text-align: left; 
    margin-top: 0px !important;
    float: left;
}
    .let {
        margin-top: 10px !important;
    }
    .let p {
        font-size:100% !important;
        padding-bottom: 120px !important;
    }
    .bg-image-btn {
        width: 200px !important;
        height: 70px !important;
    }
    .btn1 {
        width: 200px !important;
        height: 70px !important; 
        margin-top: 10px !important;
    }
    form-group {
        margin-bottom: 0px !important;
    }
    .bg-image-about {
        background: url('22.png') !important;  
        height: 67vh !important;
        background-position: 0% 10%;
background-size: cover;
background-repeat: no-repeat !important;
    }
    .scheme h1{
    font-size: 300% !important;
    font-family: 'Oswald', sans-serif;   
    }
    .color-text10 {
        font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-shadow: 2px 1px 0px #fff;
    color: black; 
    font-size: 130% !important;
}
.color-text11 {
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 0px #fff;
    font-weight: 400;
    color: black; 
    font-size: 130% !important;
}
    .scheme {
        line-height: 1.2em;
    }
    .bg-image-why {        
background: url('33.png') !important;  
        height: 93vh !important;
        background-position: 0% 10%;
background-size: cover;
background-repeat: no-repeat !important;
        
    } 
    .color-text {
      color: #fbb000; 
    font-size: 100% !important; 
        text-shadow: none !important;
    }
    .a-text h1{
        font-size: 200% !important;
    }
    .structure {
        margin-top: 0;
    }
    .bg-image-structure h1 {
  font-family: 'Roboto', sans-serif;
font-weight: 500;
    font-size: 130% !important;
    color: white;
    text-align: center;
    margin-top: 50px;
}
.bg-image-structure p {
  font-family: 'Roboto', sans-serif;
font-weight: 400;
    font-size: 80% !important;
    color: white;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 50px !important;
    padding-left: 30%;
    padding-right: 5%;
}
    .bg-image-structure {
        height: 20vh !important;
background-size: cover;
background-repeat: no-repeat;
    width: 100%;
    object-fit: cover;
     
}
    .swipe {
        margin-left: 0 !important;
        margin-top: 10px;
    }
    .structur {
        margin-top: 30px;
    }
    .bg-image-port {
        background: url('44.png') !important;
        height: 100vh !important;
        background-position: 0% 10%;
background-size: cover;
background-repeat: no-repeat !important;
        width: 100%;
    object-fit: cover;
    }
    .item img {
        width: 40%;
        height: auto;
    }
    .why {
        width: 50%;
        
    }
    .portfolio h1 {
    font-size: 200%;
    font-family: 'Oswald', sans-serif; 
}
.portfolio {
    margin-left: 50px;
}
.portfolio p {
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
font-weight: 400;
}
.color-text3 {
   text-shadow: none !important;
    color: black; 
}
.color-text4 {
   text-shadow: none !important;
    color: #fbb000; 
}
    .bg-image-how {        
background: url('55.png') !important;  
        height: 192vh !important;
        background-position: 0% 10%;
background-size: cover;
background-repeat: no-repeat !important;
        
    } 
    .bg-image-price {        
background: url('66.png') !important;  
        height: 200vh !important;
        background-position: 0% 10%;
background-size: cover;
background-repeat: no-repeat !important;
        
    } 
    .color-text5 {
   text-shadow: none !important;
    color: black; 
}
.color-text6 {
   text-shadow: none !important;
    color: #fbb000; 
}
    .price h1 {
        font-size: 200% !important;
        margin-top: 10px !important;
        text-align: center;
        
    }
    .price p {
        font-size: 150% !important;
        text-align: center;
    }
    .prices img {
        width: 55%;
        object-position: left;
    }
    .price h1 {
    font-size: 200%;
    font-family: 'Oswald', sans-serif; 
}
.price {
    padding-top: 10px !important;
}
.price p {
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
font-weight: 400;
    color: black;
}
.prices h1 {
    font-size: 500%;
    font-family: 'Oswald', sans-serif; 
}
.prices {
    padding-top: 30px;
    text-align: center;
}
.prices p {
    font-size: 250%;
    font-family: 'Roboto', sans-serif;
font-weight: 400;
    color: black;
}
.prices img {
    align-items: center;
}
    .color-text5 {
        text-shadow: none !important;
    }
    .color-text6 {
        text-shadow: none !important;
    }
    
    .form-control {
        font-size: 150% !important;
    }
    .form-group {
        padding-right: 40% !important;
    }
    .bg-image-form {
        background: url('77.png') !important;  
        height: 80vh !important;
        background-position: 0% 10%;
background-size: cover;
background-repeat: no-repeat !important;
    }
    .bg-image-footer {
        background: url('88.png') !important;  
        height: 80vh !important;
        background-position: 0% 10%;
background-size: cover;
background-repeat: no-repeat !important;
    }
    .footer {
        padding-top: 250px !important;
    }
    .btn-primary1 img {
        width: 15% !important;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .m-text h1 {
		font-size: 200% !important;
	}
    .m-text p {
       font-size: 100% !important; 
        margin-bottom: 0;
    }
    .get1 p {
    color: white !important;
	letter-spacing: 3px;
    font-family: 'Schoolbell', cursive;
    font-size:120% !important;font-style:normal;
    text-align: left; 
    margin-top: 0px !important;
    float: left;
}
    .let {
        margin-top: 10px !important;
    }
    .let p {
        font-size:100% !important;
        padding-bottom: 120px !important;
    }
    .bg-image-btn {
        width: 200px !important;
        height: 70px !important;
    }
    .btn1 {
        width: 200px !important;
        height: 70px !important; 
        margin-top: 10px !important;
    }
    form-group {
        margin-bottom: 0px !important;
    }
    .bg-image-about {
        background: url('22.png') !important;  
        height: 60vh !important;
        background-position: 0% 10%;
background-size: cover;
background-repeat: no-repeat;
    }
    
}

html, body {
	height: 100%;
}
.m-text h1 {
  font-size: 400%;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    margin-top: 0;
    color: white;
}
.color-text {
    text-shadow: 2px 1px 0px #0f0f0f, 4px 3px 0px #fff;
    color: #fbb000;
}
.m-text p {
    color: white !important;
	font-size: 100px;
	letter-spacing: 3px;
    font-family: 'Schoolbell', cursive;
    font-size:150%;font-style:normal;
    text-align: left;
}
.bg-image-btn {
  background-image: url('btn.png'); 
    background-position: 0% 25%;
background-size: cover;
background-repeat: no-repeat;
    width: 350px;
    height: 120px;
    margin-top: 30px;
    margin-left: 30px;
}
.btn1 {
    margin-top: 30px;
    background-color: transparent;
    width: 345px;
    height: 90px;
    text-align: center;
	letter-spacing: 3px;
    font-family: 'Schoolbell', cursive;
    border-color: transparent;
    
}
.btn1 a:hover {
    text-shadow: 0px 0px 20px #f3971b;
}
.btn1 a {
    text-decoration: none;
}
.let p {
    font-size:250%;font-style:normal;
    color: #f3971b;
}
.get1 p {
    color: white !important;
	letter-spacing: 3px;
    font-family: 'Schoolbell', cursive;
    font-size:250%;font-style:normal;
    text-align: left; 
    margin-top: 80px;
    float: left;
}
/* About us*/
.scheme img {
    object-fit: cover;
    margin-left: 50%;
    transform: translateX(-50%);
}
.bg-image-about1 {
background-position: 0% 10%;
background-size: cover;
background-repeat: no-repeat;
    
}
.numbers h1{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 40px;
}
.color-text1 {
  text-shadow: 4px 3px 0px #0f0f0f;
    color: #fbb000; 
    font-size: 200%;
    color: white;
}
.numbers p{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 200%;
    padding-top: 5px;
}
.color-text2 {
    font-weight: 500;
}
.color-text10 {
    font-weight: 500;
    text-shadow: 2px 1px 0px #fff;
    color: black; 
    font-size: 200%;
}
.color-text11 {text-shadow: 2px 2px 0px #fff;
    color: black; 
    font-size: 200%;
}
.img {
    height: 800px;
    width: auto;
    float: left;
    margin-top: 80px;
    padding-left: 0;
}
.bg-image-why {
background-position: 10% 25%;
background-size: cover;
background-repeat: no-repeat;
    
}
.why {
    margin-left: 0;
}
.a-text h1 {
    font-size: 500%;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    padding-top: 70px;
    color: white;
}
.bg-image-structure {
background-position: 0% 10%;
background-size: cover;
background-repeat: no-repeat;
    margin-top: 30px;
    margin-left: 0;
}
.bg-image-structure h1 {
  font-family: 'Roboto', sans-serif;
font-weight: 500;
    font-size: 250%;
    color: white;
    text-align: center;
    margin-top: 50px;
}
.bg-image-structure p {
  font-family: 'Roboto', sans-serif;
font-weight: 400;
    font-size: 220%;
    color: white;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 100px;
    padding-left: 30%;
    padding-right: 5%;
}
.swipe {
    color: #fbb000;
    font-size: 150%;
}
.swipe:hover {
    color: #fbb000;
}
.btn {
    background-color: transparent;
    border-radius: 20px;
    border-color: #fbb000;
    margin-left: 300px;
}
.btn:hover {
 text-shadow: 0px 0px 20px #f3971b;   
}
/*Portfolio*/
.bg-image-port {
    background-position: 10% 25%;
background-size: cover;
background-repeat: no-repeat;
}
.portfolio h1 {
    font-size: 400%;
    font-family: 'Oswald', sans-serif; 
}
.portfolio {
    margin-left: 50px;
}
.portfolio p {
    font-size: 200%;
    font-family: 'Roboto', sans-serif;
font-weight: 400;
}
.carousel-control-prev a:hover {
    background-color: transparent;
}
.color-text3 {
   text-shadow: 4px 3px 0px #fff, 6px 5px 0px #fbb000;
    color: black; 
}
.color-text4 {
   text-shadow: 4px 3px 0px #fff, 6px 5px 0px #000;
    color: #fbb000; 
}
.navpor>li.active>a, .navpor>li.active>a:focus, .navpor>li.active>a:hover {
    color: black;
    background-color: #fbb000;
    border-radius: 20px;
    text-align: center;
    border-color: transparent;
}
.navbar-left {
    text-align: center;
    width: 100%;
}
.navpor>li>a {
	color: black; 
    font-size: 250%;
    font-family: 'Roboto', sans-serif;
font-weight: 400;
    border-color: black;
    border: 3px solid black;
    border-radius: 20px;
}
.navpor li {
    padding-left: 5%;
    border-color: black;
    list-style-type: none;
}
.navpor>li>a:hover {
	background-color: #fbb000;
	transition: .1s;
    border-radius: 20px;
    border-color: transparent;
}
.navpor {
    border-radius: 20px;
    border-color: black !important;
}

.port {
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}
.portf {
    background-color: #fbb000;
    color: black;
    font-size: 200%;
     font-family: 'Roboto', sans-serif;
font-weight: 400;
}
.imga {
    background-position: center top;
    background-size: cover;
    height: 100%;
    width: 100%;
    
}
.item img {
    width: 80%;
    height: auto;
}
.imga img {
    width: 100%;
     background-position: center top;
    background-size: cover;
}
.bg-image-how {
    background-position: center top;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.bg-image-price {
background-position: 10% 25%;
background-size: cover;
background-repeat: no-repeat;
    
}
.price h1 {
    font-size: 500%;
    font-family: 'Oswald', sans-serif; 
}
.price {
    padding-top: 100px;
}
.price p {
    font-size: 250%;
    font-family: 'Roboto', sans-serif;
font-weight: 400;
    color: black;
}
.prices h1 {
    font-size: 500%;
    font-family: 'Oswald', sans-serif; 
}
.prices {
    padding-top: 30px;
    text-align: center;
}
.prices p {
    font-size: 250%;
    font-family: 'Roboto', sans-serif;
font-weight: 400;
    color: black;
}
.prices img {
    align-items: center;
}
.color-text5 {
   text-shadow: 3px 2px 0px #fbb000, 5px 4px 0px #fff;
    color: black; 
}
.color-text6 {
   text-shadow: 3px 2px 0px #fbb000, 5px 4px 0px #000;
    color: white;  
}
bg-image-price {
background-size: cover;
background-repeat: no-repeat;
margin-left: 100px;

}
.bg-image-form {
background-position: 10% 25%;
background-size: cover;
background-repeat: no-repeat;
    
}
.form-control {
    margin-top: 80px;
    background-color: transparent;
    border-bottom-color: #fbb000;
    border-top-color: transparent;
    color: #fbb000;
    font-size: 300%;
     font-family: 'Roboto', sans-serif;
font-weight: 400;
    border-left-color: transparent;
    border-right-color: transparent;
    margin-left: 60px;
    height: auto;
}
.bg-image-footer {
background-size: cover;
background-repeat: no-repeat;
    width: 100%;
    object-fit: cover;
     
}
.btn1:hover {
 text-shadow: 0px 0px 20px #f3971b;   
}
.btn3 {
    border-color: transparent;
    border-color: transparent;
    margin-left: 30px;
}
.btn3: hover {
    background-color: transparent;
}
.footer {
    padding-top: 370px;;
}
.form {
    font-size: 150%;
    color: #fbb000;
}
.form-text {
    font-size: 300%;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    margin-top: 0;
    color: white;
}
.h1, h1 {
    font-size: 120%;
}
.form-text placeholder {
    color: #fbb000;
}
.films_block {
	text-align: center;
}
.films_block img {
	margin-bottom: 5%;
	border-radius: 5px;
	border: solid 5px #dad7d5;
	width: 100%;
}
.film_label {
	padding: 2%;
	margin-bottom: 4%;
}
.margin-8 {
	margin-top: 8%;
}

.panel {
	border: none;
}

.panel-body {
	background-color: #f9f9f9;
}

.panel-info>.panel-heading {
	background-color: #f0ad4e;
	color: white;
	border-color: transparent;
}

.sidebar-header {
	font-size: 120%;
	letter-spacing: 2px;
}


.form-control {
	border-radius: 0px;
}

.input-lg {
	font-size: 14px;
}
.list-group-item-warning {
	color: #8a6d3b;
	background-color: #f9f9f9;
}
.badge {
	background-color: #222;
}

footer {
	color: #666;
	background-color: #222;
	padding: 17px 0 18px 0;
	border-top: 1px solid black;
}
footer a {
	color: #999;
}
footer a:hover {
	color: #efefef;
	transition: .1s;
}