{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MokiMoki</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href= "{% static 'mokimoki/accets/css/bootstrap.min.css'  %}">
     <!-- Css -->
     <link href="{% static 'mokimoki/accets/css/style.css' %}" rel="stylesheet">
     <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="icon" href="{% static 'mokimoki/logo.png' %}">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:ital,wght@1,400;1,500&family=Schoolbell&display=swap" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
      <div
  class="bg-image-home"
  style="
    background-image: url({% static 'mokimoki/111.png' %});
    height: 100vh;
  "
>
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="container-fluid" >
      <div class="row">
       <nav role="navigation" class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header header">
            <div class="container">
              <div class="row">
                  <div class="col-md-5">
                      <div class="row">
                          <div class="col-md-5">
                      <img src="{% static 'mokimoki/logo.png' %}" alt="" class="logo">
                          </div>
                          <div class="col-md-7">
                  <h1><a href="#">MOKIMOKI</a></h1>
                  <p>Marketing Agency</p>
                              </div>
                      </div>
              </div>
                  <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
            </button>
                <div class="col-md-7">
             <div id="navbarCollapse" class="collapse navbar-collapse navbar-right">
            <ul class="nav nav-pills">
              <li class="active"> <a href="#">Home</a> </li>
              <li> <a href="#about">About Us</a> </li>
              <li> <a href="#project">Projects</a> </li>
              <li> <a href="#price">Prices</a> </li>
              <li> <a href="#contacts">Contacts</a> </li>
            </ul>
          </div>
              </div>
            </div>
            
          
          </div>
           
        </div>
            </div>
      </nav>
           </div>
    </div>
      <div class="wrapper">
        <div class="container">
            <div class="m-text">
            <div class="row">
            <div class="col-md-7">
            <h1><span class="color-text">DOUBLE</span> YOUR <span class="color-text">SALES</span> BY ORDERING <span class="color-text">FIRE DESIGNED</span> WEBSITE ON <span class="color-text">NEUROMARKETING</span> TECHNOLOGIES</h1>
            <p>YOUR BUSSINESS WILL LOOK LIKE A MILLION BUCKS</p>    
            </div>
            <div class="col-md-5"></div>
            </div>
            </div>
            <div
  class=" let bg-image-btn form-group col-md-7"
  style="
    background-image: url({% static 'mokimoki/btn.png' %});
  "
>
                        <div class="input-group-btn">
                         <button class="btn1 btn-lg" type="submit">
                             <p>Let's go!</p>
                        </button>
                       </div>
                     </div>
            <div class=" get1 col-md-5">
                        <p>get more info</p>
                </div>
        </div>
      </div>
        </div>
      </div>
      <!-- About us-->
      <div
  class="bg-image-about"
  style="
    background-image: url({% static 'mokimoki/222.png' %});
    height: 100vh;
  "
>
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
        <img src="{% static 'mokimoki/22222.png' %}" alt=""/>
                </div>
            <div class="col-md-1"></div>
        </div>
        </div>
          </div>
      <div
  class="bg-image-about"
  style="
    background-image: url({% static 'mokimoki/333.png' %});
    height: 100vh;
  "
>
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="col-md-5"></div>
        <div class="a-text col-md-7">
        <h1><span class="color-text">WHY</span> OUR WEBSITES WILL <span class="color-text">DOUBLE</span> YOUR <span class="color-text">SALES?</span></h1>
        <div
  class="  bg-image-structure col-md-10"
  style="
    background-image: url({% static 'mokimoki/1.png' %});
  "
             >
            <div class="d-flex justify-content-center align-items-center h-100">
            <h1> Selling structure</h1>
            <p> We make sites according to the canons of sales face to face - as if your best salesman met with the client</p>
            
            </div>
            </div>
            <button type="button" class="swipe btn btn-outline-warning">< swipe ></button>
<!--
 <div
  class="  bg-image-structure col-md-8"
  style="
    background-image: url('2.png');
  "
             >
            <div class="d-flex justify-content-center align-items-center h-100">
            <h1> Essence of business</h1>
            <p> We pull out the most important meanings of your business, those are the reasons why customers really buy from you</p>
            
            </div>
            </div>
 <div
  class="  bg-image-structure col-md-8"
  style="
    background-image: url('3.png');
  "
             >
            <div class="d-flex justify-content-center align-items-center h-100">
            <h1> Mental Triggers</h1>
            <p> We add triggers to the site that build trust in your company and sell without sales</p>
            
            </div>
            </div>
 <div
  class="  bg-image-structure col-md-8"
  style="
    background-image: url('4.png');
  "
             >
            <div class="d-flex justify-content-center align-items-center h-100">
            <h1>Level 80 Design</h1>
            <p> We'll preserve the overall style of your business and make the juiciest, tastiest,most modern and selling design</p>
            
            </div>
            </div> 
 <div
  class="  bg-image-structure col-md-8"
  style="
    background-image: url('5.png');
  "
             >
            <div class="d-flex justify-content-center align-items-center h-100">
            <h1>Hybrid website</h1>
            <p> We take the best from one-page, landing sites and large sites and show the best results.</p>
            
            </div>
            </div>
 <div
  class="  bg-image-structure col-md-8"
  style="
    background-image: url('6.png');
  "
             >
            <div class="d-flex justify-content-center align-items-center h-100">
            <h1>More customers</h1>
            <p> You will get more customers, simply by increasing the conversion rate of the site.</p>
            
            </div>
            </div>
 <div
  class="  bg-image-structure col-md-8"
  style="
    background-image: url('7.png');
  "
             >
            <div class="d-flex justify-content-center align-items-center h-100">
            <h1>More customers</h1>
            <p>We guarantee you that our sites open and work faster due to impeccable technical solutions</p>
            
            </div>
            </div>
-->
      </div>
       </div>
          </div>
         
          <!--- Portfolio-->
      <div
  class="bg-image-about"
  style="
    background-image: url({% static 'mokimoki/444.png' %});
    height: 100vh;
  "
>
           <div class="d-flex justify-content-center align-items-center h-100">
                <div class="row">
            <div class="portfolio col-md-7">
            <h1><span class="color-text3">OUR </span><span class="color-text4">PORTFOLIO</span> </h1>
            <p>Instead of a thousands words</p>    
            </div>
            <div class="col-md-5"></div>
                <div class="row">
                  <div class="btn2 input-group-btn">
                         <button class="btn2 btn-lg" type="submit"> 
                             <p>all projects</p>
                        </button>
                      <button class="btn2 btn-lg" type="submit"> 
                             <p>courcec</p>
                        </button>
                      <button class="btn2 btn-lg" type="submit"> 
                             <p>construction</p>
                        </button>
                      <button class="btn2 btn-lg" type="submit"> 
                             <p>services</p>
                        </button>
                      <button class="btn2 btn-lg" type="submit"> 
                             <p>travel</p>
                        </button>
                      <button class="btn2 btn-lg" type="submit"> 
                             <p>music</p>
                        </button>
                      <button class="btn2 btn-lg" type="submit"> 
                             <p>more...</p>
                        </button>
                       </div>   
            </div>
                <div class="port row">
                <img src="{% static 'mokimoki/first.png' %}" alt=""/>
                    <img src="{% static 'mokimoki/second.png' %}" alt=""/>
                    </div>
                </div>
               </div>
          </div>
          
           <div
  class="bg-image-about"
  style="
    background-image: url({% static 'mokimoki/444.png' %});
    height: 100vh;">
           <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="port row">
                <img src="{% static 'mokimoki/third.png' %}" alt=""/>
                    <img src="{% static 'mokimoki/fourth.png' %}" alt=""/>
                </div>
               </div>
          </div>
           <div
  class="bg-image-about"
  style="
    background-image: url({% static 'mokimoki/444.png' %});
    height: 100vh;">
           <div class="d-flex justify-content-center align-items-center h-100">
                <div class="port row">
                <img src="{% static 'mokimoki/fith.png' %}" alt=""/>
                    <img src="{% static 'mokimoki/sixth.png' %}" alt=""/>
                </div>
               <div class="row">
               <div class="col-md-6"></div>
                <div class="col-md-6">
                <button type="button" class="portf btn btn-outline-warning">< swipe ></button>
                </div>
               </div>
            </div>
               </div>
               <div class="row">
           <img src="{% static 'mokimoki/555.png' %}" alt="" class="imga" width="1720px"/>
               </div>
           <div class="row">
           <img id='price' src="{% static 'mokimoki/666.png' %}" alt="" class="imga" width="1720px"/>
               </div>
          <div class="row">
       <div
               id=""
  class="bg-image-home"
  style="
    background-image: url({% static 'mokimoki/777.png' %});
    height: 100vh;">
           <div class="d-flex justify-content-center align-items-center h-100">
               <div class="col-md-1"></div>
        <div class="a-text col-md-7">
        <h1>GET A <span class="color-text">FREE STRATEGY TO DOMINATE</span> YOUR <span class="color-text">DOUBLE</span> MARKET </h1>
            <div class="col-md-4"></div>
              </div>
               <div class="row">
               <form>
                <div class="col-md-2"></div>
                   <div class="col-md-6">
  <div class="form-group">
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter your name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter your mobile number">
  </div>
                   </div>
                   <div class="col-md-4"></div>
</form>
               </div>
           </div>
               <div
  class=" let bg-image-btn form-group col-md-7"
  style="
    background-image: url({% static 'mokimoki/btn.png' %});
  "
>
                        <div id='forma' class="input-group-btn">
                         <button class="btn1 btn-lg" type="submit"> 
                             <p>get it now</p>
                        </button>
                       </div>
                     </div>
          </div> 
          </div>
           <div class="row ">

           <div id="contacts"

  class="bg-image-footer"
  style="
    background-image: url({% static 'mokimoki/888.png' %});
    height: 100vh;">
           <div class="d-flex justify-content-center align-items-center h-100">
               <div class="footer">
               <div class="row">
                   <div class="col-md-2"></div>
               <a class='btn3 btn-primary' href='#'><img src="{% static 'mokimoki/tg.png' %}"></a>
                   <a class='btn3 btn-primary' href='#'><img src="{% static 'mokimoki/ws.png' %}"></a>
                       
               <a class='btn3 btn-primary' href='#'><img src="{% static 'mokimoki/fb.png' %}"></a>
                       </div>
               </div>
                </div>
               </div>
               </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'mokimoki/accets/js/bootstrap.min.js' %} "></script>
  </body>
</html>
